extends layout

block content 
	#nav_form_container.container-fluid.row
		form#nav_form.form-inline(method='post', action='/navigate', accept-charset='UTF-8')
			.input-append
				input#nav_form_src.input-xlarge(type='text', name='src', placeholder='From')
				button.btn(type='button', title='Current Location')
					i.icon-screenshot
			.input-append
				input#nav_form_dest.input-xlarge(type='text', name='dest', placeholder='To')
				button.btn(type='button', title='Current Location')
					i.icon-screenshot
			button#nav_form_btn.btn.btn-primary(type='button') Navigate
				i.icon-random.icon-white
	#map_container.container-fluid
		#map