extends layout

block content
	#register_form.container
		h2 Register
		form.form-horizontal(method='post', action='/register', accept-charset='UTF-8')
			.control-group
				label.control-label(for='inputEmail') Email
				.controls
					input#inputEmail(type='email', name='email', size='30')
			.control-group
				label.control-label(for='inputPassword') Password
				.controls
					input#inputPassword(type='password', name='password', size='30')
			button.btn.btn-primary(type='submit', name='register') Register
			